
.Imagenes1 {
    border-radius:20% 20%; 
    box-shadow: 0px 0px 15px #000; 
    padding:15px; 
    background:#FFF; 
    border-radius:0; 
    margin: 2%;
    margin-left: 1%;
    background: #ffffff; 
    }
    